---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="All about me"
	pubDate={new Date('January 10 2024')}
	heroImage="/Headshots-4b.jpg"
>
	<p>
        If you haven't figured it out yet, I'm a software developer named Devin! I enjoy writing backends, dev tools,
        and libraries. Although I enjoy backend work more, I don't mind writing frontend code either (just don't ask me
        to make things pretty 😅). I also enjoy learning new languages and the ecosystems that surround them: I believe
        the strength of a language's ecosystems and developer experience is a major driving force behind the languages
        I work with.
	</p>

    <p>
        Speaking of languages, I (mostly) enjoy Typescript for backend projects. I have been exploring Ruby and Rust
        to find a new backend language. But for some reason I always come back to Typescript. For creating frontends,
        I'm probably best at React, although I absolutely love using Flutter (the developer experience is top notch 👌).
        And for those few rare times I want to create simple games or use a graphics renderer, I weirdly enjoy using
        vanilla HTML with canvas/WebGL: theres something about creating a basic rendering engine that really clicks with me.
        I have also been known to play around with <a href="https://godotengine.org/">Godot</a> every now and then too.
    </p>

    <p>
        On a more personal level, I enjoy hiking, video games, and reading. Recently I have been pushing myself to cook
        different recipes, which has mostly been successful! I also have two cats (I promise I'll provide pictures at some
        point).
    </p>

    <p>
        And thats basically me. I always thought that naming variables were one of the hardest challenges I can face,
        but then I realized after trying to write this section three separate times, that naming variables is 
        actually pretty straight forward 😄.
    </p>

</Layout>
